.menuLink{
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;

    .menuLinkText{
        margin-left: 10px;
        margin-right: 5px;
    }

    .menuLinkTextName{
        font-weight: 700;
        font-size: 18px;
    }

    &:hover{
        background-color: #011631;
        color: white;
    }
}

//Responsiveness

@media only screen and (max-width: 992px){
    .menuLink{
        display: block;

        .menuLinkText{
            display: none;
        }

        .menuLinkTextName{
            display: none;
        }

        &:hover{
            display: block;
            background-color: #011631;
            color: white;
        }
    }
}